---
layout: default
title: "News and Updates"
---

<article class="landing landing--bg-dark">
    <div class="landing__container">
        <h2 class="heading heading--h2 heading--center heading--light">
            <span class="heading__subtitle">There's a lot going on</span>
            News and Updates
        </h2>
        <div class="landing__content">
            <p class="margin-t text text--light">
                Visit the <a href="https://textup.featureupvote.com" class="text text--light" target="_blank" rel="noopener noreferrer">TextUp feature voting page</a> to share your thoughts on how to make TextUp better.
            </p>
        </div>
    </div>
</article>
<div class="landing">
    <div class="landing__container">
        {% assign postsByMonth = site.posts | group_by_exp: 'post', 'post.date | date: "%b %Y"' %}
        {% for month in postsByMonth %}
          <section id="{{ month.name }}" class="landing__content taxonomy__section">
            <h3 class="heading heading--h3">{{ month.name }}</h3>
            <div class="entries-{{ page.entries_layout | default: 'list' }}">
              {% for post in month.items %}
                {% include archive-single.html type=page.entries_layout %}
              {% endfor %}
            </div>
            <a href="#page-title" class="back-to-top text text--link">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
          </section>
        {% endfor %}
    </div>
</div>
