---
layout: default
title: "Support Center"
---

<article class="bg-color bg-brand-dark pad-all-double text-center">
    <div class="xs-full-row m-6-row-10 margin-center">
        <p class="text-biggest text-bold">
            Support Center
        </p>
        <p class="margin-t">
            Still have questions? Contact us at
            <a href="mailto:connect@textup.org?Subject=Support%20Question%20From%20Website"
                target="_top"
                class="text-bold text-white">
                connect@textup.org
            </a>
        </p>
    </div>
</article>
<div class="t-body">
    <div class="t-grid t-grid--align-stretch">
        {% for section in site.data.navigation.articles %}
            <div class="t-help-section t-grid__item t-padding--all-half">
                <div class="t-help-section__content t-padding--all t-height--full">
                    <a href="{{ section.children.first.url | prepend: site.baseurl }}" class="t-help-section__link">
                        <p class="t-help-section__title text-bigger text-bold text-brand">{{ section.title }}</p>
                    </a>
                    <b>
                       {{ section.children.size }}
                        {% if section.children.size > 1 %}
                            articles
                        {% else %}
                            article
                        {% endif %}
                    </b>
                    <p>{{ section.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
