<div class="footer__container">
    <img class="footer__logo"
        src="{{ site.baseurl }}/assets/images/logo.png"
        alt="TextUp logo">
    <div class="footer__body">
        <ul class="footer__links">
            <li>
                <a class="text text--link"
                    href="https://textup.featureupvote.com"
                    target="_blank"
                    rel="noopener noreferrer">Vote for features</a>
            </li>
            <li>
                <a class="text text--link"
                    href="https://v2.textup.org"
                    target="_blank"
                    rel="noopener noreferrer">TextUp API</a>
            </li>
            <li>
                <a class="text text--link"
                    href="https://static.textup.org/privacy-policy/"
                    target="_blank"
                    rel="noopener noreferrer">Privacy policy</a>
            </li>
            <li>
                <a class="text text--link"
                    href="https://static.textup.org/terms-of-use/"
                    target="_blank"
                    rel="noopener noreferrer">Terms of use</a>
            </li>
            <li>
                <a class="text text--link"
                    href="https://stats.uptimerobot.com/27DmPUjxw"
                    target="_blank"
                    rel="noopener noreferrer">System status</a>
            </li>
        </ul>
        <p class="text">
            TextUp works across major browsers because of
            <img class="footer__attribution-image"
                src="{{ site.baseurl }}/assets/images/browserstack.png"
                alt="BrowserStack logo">
        </p>
        <p class="text">
            &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}. All Rights Reserved.
        </p>
    </div>
</div>
