<header class="header {% if page.url == "/" %}header--sticky{% endif %}">
  <div class="header__container">
    <button type="button"
      class="header__drawer-control can-toggle-nav-drawer"
      aria-label="Mobile navigation toggle control">
      <div class="header__drawer-control__label"></div>
    </button>
    <div class="header__nav header__nav--left">
      <li>
        <a class="header__nav-link" href="{% if page.url != '/' %}{{ '/' | absolute_url }}{% endif %}#landing-product-section">Product</a>
      </li>
      <li>
        <a class="header__nav-link" href="{% if page.url != '/' %}{{ '/' | absolute_url }}{% endif %}#landing-press-section">Press</a>
      </li>
      <li>
        <a class="header__nav-link" href="{% if page.url != '/' %}{{ '/' | absolute_url }}{% endif %}#landing-pricing-section">Pricing</a>
      </li>
    </div>
    <a class="header__logo" href="{% if page.url != '/' %}{{ '/' | absolute_url }}{% endif %}#textup-main-content">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="TextUp logo">
    </a>
    <div class="header__nav header__nav--right">
      <li>
        <a class="header__nav-link" href="{{ site.baseurl }}/blog">Updates</a>
      </li>
      <li>
        <a class="header__nav-link" href="{{ site.baseurl }}/support">Support</a>
      </li>
      <li>
        <a class="header__nav-link header__nav-link--emphasize" href="https://app.textup.org" target="_blank" rel="noopener noreferrer">Launch</a>
      </li>
    </div>
    <button class="header__search search__toggle" type="button">
      <svg class="icon" width="16" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.99 16">
        <path d="M15.5,13.12L13.19,10.8a1.69,1.69,0,0,0-1.28-.55l-0.06-.06A6.5,6.5,0,0,0,5.77,0,6.5,6.5,0,0,0,2.46,11.59a6.47,6.47,0,0,0,7.74.26l0.05,0.05a1.65,1.65,0,0,0,.5,1.24l2.38,2.38A1.68,1.68,0,0,0,15.5,13.12ZM6.4,2A4.41,4.41,0,1,1,2,6.4,4.43,4.43,0,0,1,6.4,2Z" transform="translate(-.01)"></path>
      </svg>
    </button>
  </div>
</header>
