<header class="header {% if page.url == "/" %}header--sticky{% endif %}">
  <div class="header__container">
    <button type="button"
      class="header__drawer-control can-toggle-nav-drawer"
      aria-label="Mobile navigation toggle control">
      <div class="header__drawer-control__label"></div>
    </button>
    <div class="header__nav header__nav--left">
      <li>
        <a class="header__nav-link" href="{% if page.url != '/' %}{{ '/' | absolute_url }}{% endif %}#landing-product-section">Product</a>
      </li>
      <li>
        <a class="header__nav-link" href="{% if page.url != '/' %}{{ '/' | absolute_url }}{% endif %}#landing-press-section">Press</a>
      </li>
    </div>
    <a class="header__logo" href="{% if page.url != '/' %}{{ '/' | absolute_url }}{% endif %}#textup-main-content">
      <img src="{{ site.baseurl }}/assets/images/logo.png" alt="TextUp logo">
    </a>
    <div class="header__nav header__nav--right">
      <li>
        <a class="header__nav-link" href="{{ site.baseurl }}/support">Support</a>
      </li>
      <li>
        <a class="header__nav-link header__nav-link--emphasize" href="https://app.textup.org" target="_blank" rel="noopener noreferrer">Launch</a>
      </li>
    </div>
  </div>
</header>
