<ul class="overall__drawer">
  <li class="overall__drawer__item">
    <a class="overall__drawer__link"
      href="{{ '/' | absolute_url }}">Home</a>
  </li>
  <li class="overall__drawer__item">
    <a class="overall__drawer__link"
      href="{{ site.baseurl }}/blog">Blog</a>
  </li>
  <li class="overall__drawer__item overall__drawer__item--end-section">
    <a class="overall__drawer__link"
      href="{{ site.baseurl }}/support">Support</a>
  </li>
  <li class="overall__drawer__item">
    <a class="overall__drawer__link"
      href="https://app.textup.org"
      target="_blank"
      rel="noopener noreferrer">Launch</a>
  </li>
  <li class="overall__drawer__item">
    <a class="overall__drawer__link"
      href="https://v2.textup.org"
      target="_blank"
      rel="noopener noreferrer">API</a>
  </li>
</ul>
