#main {
    padding: 0;

    @include breakpoint($x-large) {
        max-width: 100%;
    }
}

.masthead {
    border-bottom: 5px solid $brand-color;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #f5f8f8;

    &--home {
        position: sticky;
        top: 0;
    }
    &__inner-wrap {
        padding: 0;
    }
    &__menu-item {
        text-transform: uppercase;
    }
}

.greedy-nav {
    background-color: #f5f8f8;

    .site-title {
        height: 60%;

        img {
            height: 100%;
            margin-right: 0.5 * $spacing;
            margin-left: $spacing;
        }
    }
    .visible-links a:before {
        left: -2px;
        height: 2px;
        border-radius: 3px;
        width: calc(100% + 4px);
    }
}

.page__footer {
    margin-top: 0;
}

.search-content {
    @extend .t-body;

    .search-input {
        border-bottom: 1px solid $border-color;
        border-radius: 0;
        padding: ($spacing / 2) 0;
    }
    .results {
        &__found {
            margin-bottom: $spacing * 2;
            font-size: $spacing;
        }
    }
}

.archive__item {
    width: 100%;

    &-title {
        text-transform: none;
        font-family: inherit;
        font-weight: $font-weight-std;
        font-size: 1rem;
    }
    &-excerpt {
        font-size: $spacing;
    }
}

.sidebar {
    $color-active: #73ccff;
    $color-bg: #656565;
    $circle-size: 5px;
    $circle-offset: -1.5em;

    padding: 1em;
    background-color: $color-bg;
    color: white;
    opacity: 1;

    &.sticky {
        height: 100vh;
        top: 0;
    }
    .nav__list {
        height: auto;
    }
    .nav__items {
        margin-bottom: 2em;

        & > li {
            margin-top: 1em;
        }
        ul {
            padding-left: 2em;

            li {
                position: relative;

                &:not(:last-child):before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    left: calc(#{$circle-offset} + #{$circle-size / 2});
                    top: 50%;
                    background-color: $color-active;
                }
                a {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                    padding-right: 1em;
                    margin: 0.2em 0;

                    &:after {
                        content: "";
                        position: absolute;
                        left: $circle-offset;
                        top: 50%;
                        transform: translateY(-50%);
                        height: $circle-size;
                        width: $circle-size;
                        border: 1px solid $color-active;
                        border-radius: 100%;
                        background-color: $color-bg;
                    }
                    &.active {
                        color: $color-active;

                        &:after {
                            background-color: $color-active;
                        }
                    }
                }
            }
        }
    }
    .author__name,
    .nav__sub-title {
        color: white;
        border-bottom-width: 0;
        font-size: $spacing;
        text-transform: none;
    }
}

h1,
h2,
h3 {
    font-family: inherit;
    text-transform: none;
    margin-bottom: 0.75rem;
}
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
}
.page {
    margin: $spacing * 2;
    max-width: 800px;
    float: left;

    @include breakpoint($large) {
        padding-right: 0;
    }
    @include breakpoint($x-large) {
        padding-right: 0;
    }

    &__meta {
        margin-bottom: 1rem;
    }
    &__inner-wrap {
        margin: 0;

        .sidebar__right {
            position: relative;
            width: auto;
            padding: 0;
            margin-right: 0;

            .toc {
                height: auto;
                font-family: inherit;
                background-color: transparent;
                box-shadow: none;
                border-width: 0;
                border-radius: 0;
                margin: 0 0 ($spacing * 2);
                padding: 0 0 ($spacing * 2);
                border-bottom: 1px solid $border-color;

                .nav__title {
                    display: none;
                }
                .toc__menu {
                    font-size: initial;

                    a {
                        color: $font-color;
                        padding: 0.25rem 0;
                        border-bottom-width: 0;
                        text-decoration: underline;
                    }
                    ul a {
                        margin-left: $spacing * 2;
                    }
                }
            }
        }
        img {
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
        }
        hr {
            visibility: hidden;
        }
    }
}

.pagination {
    height: auto;
}
