.sprite {
  background: url("../images/sprites.png") no-repeat top left;
  width: 200px;
  height: 200px;
  margin: 0 auto;

  &--left {
    margin-left: 0;
  }
}
.sprite.michelle-sprite { background-position: -0px -0px; width: 295px; height: 280px; }
.sprite.hanna-sprite { background-position: -0px -280px; width: 281px; height: 280px; }
.sprite.eric-sprite { background-position: -0px -560px; width: 279px; height: 280px; }
.sprite.textup-promo-01-sprite { background-position: -0px -840px; width: 200px; height: 200px; }
.sprite.textup-promo-02-sprite { background-position: -0px -1040px; width: 200px; height: 200px; }
.sprite.textup-promo-03-sprite { background-position: -0px -1240px; width: 200px; height: 200px; }
.sprite.textup-promo-04-sprite { background-position: -0px -1440px; width: 200px; height: 200px; }
.sprite.textup-promo-05-sprite { background-position: -0px -1640px; width: 200px; height: 200px; }
.sprite.textup-promo-06-sprite { background-position: -0px -1840px; width: 200px; height: 200px; }
.sprite.textup-promo-07-sprite { background-position: -0px -2040px; width: 200px; height: 200px; }
.sprite.textup-promo-08-sprite { background-position: -0px -2240px; width: 200px; height: 200px; }
.sprite.textup-promo-09-sprite { background-position: -0px -2440px; width: 200px; height: 200px; }
.sprite.textup-promo-10-sprite { background-position: -0px -2640px; width: 200px; height: 200px; }
.sprite.textup-promo-11-sprite { background-position: -0px -2840px; width: 200px; height: 200px; }
.sprite.textup-promo-12-sprite { background-position: -0px -3040px; width: 200px; height: 200px; }
.sprite.rich-sprite { background-position: -0px -3240px; width: 193px; height: 80px; }
.sprite.y2y-sprite { background-position: -0px -3320px; width: 184px; height: 80px; }
.sprite.brown-sprite { background-position: -0px -3400px; width: 160px; height: 80px; }
.sprite.browserstack-sprite { background-position: -0px -3480px; width: 150px; height: 32px; }
.sprite.swearer-sprite { background-position: -0px -3512px; width: 150px; height: 80px; }
.sprite.venturewell-sprite { background-position: -150px -3480px; width: 142px; height: 80px; }
.sprite.uwri-sprite { background-position: -150px -3560px; width: 138px; height: 80px; }
.sprite.hohcdc-sprite { background-position: -184px -3320px; width: 104px; height: 80px; }
.sprite.logo-sprite { background-position: -200px -840px; width: 91px; height: 50px; }
.sprite.sii-sprite { background-position: -200px -890px; width: 85px; height: 80px; }
.sprite.risd-sprite { background-position: -200px -970px; width: 80px; height: 80px; }
.sprite.rhody-sprite { background-position: -200px -1050px; width: 74px; height: 80px; }
.sprite.amos-sprite { background-position: -200px -1130px; width: 64px; height: 80px; }
