* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

.overall {
    $drawer-width: $baseunit * 15;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;

    &--drawer-open {
        overflow: hidden;

        .overall__content {
            left: $drawer-width;
        }
        .overall__overlay {
            display: block;
            opacity: 1;
            z-index: 100;
        }
        .overall__drawer {
            left: 0;
            z-index: 200;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0;
        min-height: 100%;
        transition: left 0.5s;

        &--scrolled &__top {
            bottom: $baseunit;
            opacity: 1;
            z-index: 100;

            @include breakpoint($medium) {
                bottom: $baseunit * 2;
            }
        }

        &__main {
            min-height: 80vh;
        }
        &__top {
            position: fixed;
            right: $baseunit;
            bottom: $baseunit * -5;
            height: $baseunit * 3;
            width: $baseunit * 3;
            background-color: $color-light-seafoam;
            border: 1px solid $color-seafoam;
            border-radius: $border-radius;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14);
            opacity: 0;
            transition: all 0.2s;

            @include breakpoint($medium) {
                right: $baseunit * 2;
                bottom: $baseunit * -8;
                height: $baseunit * 4;
                width: $baseunit * 4;
            }

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-bottom: ($baseunit * 0.75) solid $color-brand;
                border-left: ($baseunit * 0.5) solid transparent;
                border-right: ($baseunit * 0.5) solid transparent;

                @include breakpoint($large) {
                    border-bottom-width: $baseunit;
                    border-left-width: $baseunit * 0.75;
                    border-right-width: $baseunit * 0.75;
                }
            }
        }
    }
    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
    }
    &__drawer {
        position: fixed;
        top: 0;
        left: $drawer-width * -1;
        height: 100%;
        width: $drawer-width;
        margin: 0;
        padding: 0;
        background-color: $color-brand-dark;
        color: $color-white;
        overflow-x: hidden;
        overflow-y: auto;
        transition: left 0.5s;
        list-style: none;

        &__item {
            margin: 0;

            &:first-child {
                margin-top: $baseunit * 2;
            }
            &--end-section {
                border-bottom: 1px solid tint($color-brand-dark);
                padding-bottom: $baseunit;
                margin-bottom: $baseunit;
            }
        }
        &__link {
            @extend .text-ellipsis;

            display: block;
            padding: $baseunit;
            text-decoration: none;
            text-transform: uppercase;

            &,
            &:link,
            &:visited,
            &:focus,
            &:hover,
            &:active {
                color: $color-white;
                font-weight: $font-weight-bold;
            }
        }
    }
}

.header {
    $header-height: $baseunit * 5;

    height: $header-height;
    border-bottom: 5px solid $color-brand;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: $color-light-seafoam;
    animation: $intro-transition;
    animation-delay: 0.15s;
    z-index: 20;

    &--sticky {
        position: sticky;
        top: 0;
    }
    &__drawer-control {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        padding: $baseunit;
        background-color: transparent;
        border-width: 0;
        z-index: 10;

        @include breakpoint($large) {
            display: none;
        }
        &__label {
            @extend .navicon;

            background: $color-brand;

            &:before,
            &:after {
                background: $color-brand;
            }
        }
    }
    // more performant to not have display: flex; and position: sticky; on same element
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    }
    &__logo {
        height: $header-height * 0.6;
        margin: 0 ($baseunit * 2);

        img {
            height: 100%;
        }
    }
    &__search {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 100%;
        padding: $baseunit ($baseunit * 1.5);
        margin: 0;
    }
    &__nav {
        display: none;

        @include breakpoint($large) {
            display: flex;
            width: $baseunit * 25; // so the logo is centered
            margin: 0;
            padding: 0;
            list-style: none;

            &--left {
                justify-content: flex-end;
            }
            &--right {
                justify-content: flex-start;
            }
        }
    }
    &__nav-link {
        @extend .text;

        padding: $baseunit * 2;
        text-transform: uppercase;
        text-decoration: none;

        &--emphasize {
            @extend .text--link;
        }
        &.header__nav-link--emphasize {
            font-weight: $font-weight-bold;
        }
    }
}

.footer {
    padding: ($baseunit * 2) 0;
    margin-top: 0;
    border-top: 2px solid $border-color;
    background-color: $color-light-seafoam;
    overflow: hidden;

    @include breakpoint($medium) {
        padding: ($baseunit * 2) $baseunit;
    }
    @include breakpoint($large) {
        padding: ($baseunit * 2) 0;
    }
    &__container {
        @extend .landing__container;
    }
    & &__container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;

        @include breakpoint($medium) {
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }
    &__logo {
        height: $baseunit * 3;
        margin-bottom: $baseunit * 2;

        @include breakpoint($medium) {
            height: $baseunit * 4;
            margin-bottom: 0;
        }
    }
    &__body {
        text-align: left;

        @include breakpoint($medium) {
            text-align: right;
        }
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        margin-bottom: $baseunit;
        padding: 0;
        list-style: none;

        @include breakpoint($medium) {
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-end;

            $footer-links-spacing: $baseunit * 2;
            li + li {
                position: relative;
                margin-left: $footer-links-spacing;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: $footer-links-spacing * -1 / 2;
                    transform: translate(-50%, -50%);
                    height: 3px;
                    width: 3px;
                    background-color: $font-color;
                    border-radius: 100%;
                }
            }
        }
    }
    &__attribution-image {
        height: $baseunit * 1.4;
        margin-left: $baseunit * 0.3;
    }
}

.landing {
    $value-prop-height: $baseunit * 25;

    width: 100%;
    background-color: $color-white;
    overflow: hidden;

    &--bg {
        &-dark {
            background-color: $color-brand;
        }
        &-medium {
            background-color: $color-seafoam;
        }
        &-light {
            background-color: $color-light-seafoam;
        }
    }
    &__container {
        max-width: 90%;
        margin: 0 auto;
        padding: ($baseunit * 4) 0;

        @include breakpoint($medium) {
            width: 100%;
            max-width: 1000px;
        }
    }
    &__content {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;

        &--left,
        &--right {
            width: 100%;
            padding: ($baseunit * 2) 0;
            margin: 0 auto;

            @include breakpoint($medium) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: $value-prop-height;
                width: 40%;
            }
        }
        @include breakpoint($medium) {
            &--left {
                margin: 0 0 0 10%;
            }
            &--right {
                margin: 0 10% 0 0;
            }
        }
        @include breakpoint($x-large) {
            &--left,
            &--right {
                margin: 0;
            }
        }
    }
    &__image-container {
        $accent-offset: 40%;

        position: relative;
        height: $value-prop-height;
        margin: ($baseunit * 4) 0;

        @include breakpoint($medium) {
            &--right {
                transform: translateX(40%);
            }
            &--left {
                transform: translateX(-40%);
            }
        }
        @include breakpoint($x-large) {
            &--right {
                transform: none;
            }
            &--left {
                transform: none;
            }
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: calc(
                100% - #{$accent-offset} - #{$baseunit}
            ); // for slick carousel visual spacing
        }
        &--right:after {
            left: $accent-offset;
            background-color: $color-brand;
        }
        &--left:after {
            right: $accent-offset;
            background-color: $color-seafoam;
        }
        &__image {
            position: relative;
            height: 80%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }
        &--right &__image {
            right: 10%;
        }
        &--left &__image {
            left: 10%;
        }
    }
}
