/**
 * Fix mobile display of MailChimp newsletter pop-up signup form
 */

.mc-banner iframe {
    height: auto !important;
}

/**
 * Hide reCAPTCHA badge because we added the required attribution text
 */

.grecaptcha-badge {
    @extend .form__honeypot;
}

/**
 * For minimal mistakes theme
 */

#main {
    padding: 0;

    @include breakpoint($x-large) {
        max-width: 100%;
    }
}

.results {
    &--light * {
        color: $color-white !important;
    }
    &__found {
        margin: $baseunit 0;
        font-size: $baseunit;
    }
    & > :last-child {
        padding-bottom: $baseunit;
        border-bottom: 1px solid $color-white;
    }
}

.archive__item {
    width: 100%;

    &-title {
        @extend .heading;
        @extend .heading--no-transform;
        @extend .heading--h3;

        a:visited {
            color: $font-color;
        }
    }
    & &-title {
        margin-bottom: $baseunit * 0.5;
    }
    &-excerpt {
        @extend .text;
    }
}

.entries-list {
    .list__item + .list__item {
        border-top: 1px solid $border-color;
        padding-top: $baseunit;
    }
}

.sidebar {
    $color-active: $color-brand;
    $color-bg: #5a5a5a;
    $circle-size: 5px;
    $circle-offset: $baseunit * -1.5;

    opacity: 1;

    @include breakpoint($large) {
        padding: $baseunit;
        background-color: $color-bg;
        color: white;

        &.sticky {
            height: 100vh;
            top: 0;
        }
    }
    .nav__list {
        height: auto;
        margin: 0;
    }
    .nav__items {
        padding: 0 ($baseunit * 2);

        @include breakpoint($large) {
            margin-bottom: $baseunit * 2;
            padding: 0;
        }
        & > li {
            margin-top: $baseunit;
        }
        ul {
            padding-left: $baseunit * 2;

            li {
                position: relative;
                font-size: $baseunit;

                &:not(:last-child):before {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    left: calc(#{$circle-offset} + #{$circle-size / 2});
                    top: 50%;
                    background-color: $color-active;
                }
                a {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: block;
                    padding-right: 1em;
                    margin: 0.2em 0;

                    &:after {
                        content: "";
                        position: absolute;
                        left: $circle-offset;
                        top: 50%;
                        transform: translateY(-50%);
                        height: $circle-size;
                        width: $circle-size;
                        border: 1px solid $color-active;
                        border-radius: 100%;
                        background-color: $color-white;

                        @include breakpoint($large) {
                            background-color: $color-bg;
                        }
                    }
                    &.active {
                        color: $color-active;

                        @include breakpoint($large) {
                            color: tint($color-active, 1.5);
                        }
                        &:after {
                            background-color: $color-active;
                        }
                    }
                }
            }
        }
    }
    .nav__sub-title {
        color: $color-brand;
        border-bottom-width: 0;
        font-size: $baseunit;
        text-transform: none;

        @include breakpoint($large) {
            color: $color-white;
        }
    }
    .nav__sub-title,
    .author__bio {
        font-size: $baseunit;
    }
    .author__name {
        color: $color-white;
        font-weight: $font-weight-std;
        font-size: $baseunit * 2;
    }
    .author__content {
        display: none;

        @include breakpoint($large) {
            display: block;
        }
    }
    .author__urls-wrapper {
        button {
            display: none;
        }
        a {
            @extend .text;
            @extend .text--light;

            text-decoration: underline;
        }
    }
}

@include breakpoint(max-width $large - 1px) {
    .nav__list {
        & label {
            &,
            &:link,
            &:visited,
            &:focus,
            &:hover,
            &:active {
                margin: ($baseunit * 2) ($baseunit * 2) $baseunit;
                background-color: $color-brand;
                color: $color-white;
                border-width: 0;
                border-radius: $border-radius;

                &:before,
                &:after {
                    background-color: $color-white;
                }
            }
        }
        & input:checked {
            & + label {
                &,
                &:link,
                &:visited,
                &:focus,
                &:hover,
                &:active {
                    background-color: shade($color-brand);
                    color: $color-white;

                    &:before,
                    &:after {
                        background-color: $color-white;
                    }
                }
            }
            & ~ .nav__items {
                max-height: 50vh;
                margin-top: 0;
                border-bottom: 1px solid $border-color;
                overflow-x: hidden;
                overflow-y: auto;
                box-shadow: inset 0 -8px 20px -10px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.page {
    margin: $baseunit * 2;
    max-width: 100%;
    float: left;

    @include breakpoint($large) {
        padding-right: 0;
        max-width: 680px;
    }
    @include breakpoint($x-large) {
        padding-right: 0;
        max-width: 800px;
    }

    &__title {
        @extend .heading;
        @extend .heading--no-transform;
        @extend .heading--h2;
    }
    &__meta {
        margin-bottom: 1rem;
    }
    &__content h2 {
        @extend .heading;
        @extend .heading--no-transform;
        @extend .heading--h3;
    }
    &__content h3 {
        @extend .heading;
        @extend .heading--no-transform;
        @extend .heading--h4;
    }
    &__inner-wrap {
        margin: 0;

        .sidebar__right {
            position: relative;
            width: auto;
            padding: 0;
            margin-right: 0;

            .toc {
                height: auto;
                font-family: inherit;
                background-color: transparent;
                box-shadow: none;
                border-width: 0;
                border-radius: 0;
                margin: 0 0 ($baseunit * 2);
                padding: 0 0 ($baseunit * 2);
                border-bottom: 1px solid $border-color;

                .nav__title {
                    display: none;
                }
                .toc__menu {
                    font-size: initial;

                    a {
                        @extend .text;
                    }
                    & a {
                        display: inline-block;
                        color: $font-color;
                        padding: 0.25rem 0;
                        border-bottom-width: 0;
                        text-decoration: underline;
                    }
                    li a {
                        margin-bottom: 0;
                    }
                    ul a {
                        margin-left: $baseunit * 2;
                    }
                }
            }
        }
        hr {
            visibility: hidden;
        }
    }
}

.pagination {
    height: auto;
}
