.hide--mobile {
    display: none;

    @include breakpoint($medium) {
        display: block;
    }
}

// from https://webaim.org/techniques/css/invisiblecontent/
.sr-only {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.skipnav {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 99999;

    &:focus,
    &:active {
        left: 0;
        width: auto;
        height: auto;
        overflow: visible;
        text-decoration: underline;
    }
}
