---
layout: barebones
---
{% include head/custom.html %}

<a class="skipnav" href="#textup-main-content">Skip to after navigation</a>

{% include browser-upgrade.html %}
{% include nav-drawer.html %}

<div class="overall__overlay can-toggle-nav-drawer"></div>
<div class="overall__content">
    {% include masthead.html %}
    <main id="textup-main-content" role="main" class="overall__content__main">
        <a href="#textup-main-content" class="overall__content__top"></a>
        {{ content }}
    </main>
    <div class="footer">
        {% include footer/custom.html %}
        {% include footer.html %}
    </div>

    {% include scripts.html %}
    {% include scripts/custom.html %}
</div>
